<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>zip_retina</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>zip Files</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>xlsx_retina</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XLSX</string>
			<key>LSHandleRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xlsx</string>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
				<string>com.microsoft.excel.openxml.workbook</string>
			</array>
			<key>Role</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>xls_retina</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XLS</string>
			<key>LSHandleRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
			</array>
			<key>Role</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>png_retina</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNG</string>
			<key>LSHandleRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>Role</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>txt_retina</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>LSHandleRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>Role</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>doc_retina</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DOC</string>
			<key>LSHandleRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
			</array>
			<key>Role</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>rtf_retina</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RTF</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.bausch.retailapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>docx file format</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.word.doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>.docx</string>
				<key>public.mime-type</key>
				<string>application/msword</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MicroSoft power point</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.​ppt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>.ppt</string>
				<key>public.mime-type</key>
				<string>application/mspowerpoint</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XLS file format</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.excel.xls</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>.xls</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-excel</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-​content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PDF Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.pdf </string>
			<key>UTTypeTagSpecification</key>
			<string></string>
			<key>public.filename-extension</key>
			<string>.pdf</string>
			<key>public.mime-type</key>
			<string>application/pdf</string>
		</dict>
	</array>
</dict>
</plist>
